* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #522546 , #88304E , #E23e57 , #ffff */
body {
  background-color: #0e0c16;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
