.dashboardpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: 70px;
        height: 70px;
      }
      h1 {
        font-size: 70px;
        background: linear-gradient(to right, darkviolet, pink);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 30px;
      }
    }

    .options {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 50px;

      .option {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #ffff;
        border-radius: 20px;
        padding: 20px;

        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
        }
      }
    }
  }

  .formContainer {
    margin-top: auto;
    display: flex;
    width: 60%;
    border-radius: 20px;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 20px;
      background-color: #2d2a39;

      input {
        flex: 1;
        padding: 15px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #ffff;
      }

      button {
        background-color: darkgray;
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        border: none;
        margin-right: 5px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
