.chatpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  background-color: #151224;

  .wrapper {
    width: 100%;
    background-color: #151224;
    overflow-y: scroll;
    overflow-y: hidden;
    display: flex;
    max-width: 80%;

    .chats {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #151224;

      .message {
        padding: 20px;
        /* background-color: darkslateblue; */
        border-radius: 20px;
        align-self: flex-start;

        &.user {
          background-color: rgb(132, 132, 132);
          align-self: flex-end;
          border-radius: 20px;
          max-width: 80%;
          margin-right: 10px;
        }
      }
    }
  }
}
