
* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.container {
    max-width: 550px;
    max-height: 800px;
    font-family: inter;

   
}
.header{
   
    flex-shrink: 0;
    background-color: #1A1B21;
    
    
 
}

.my-img{
    width: 320px;
    height: 320px; 
   
}

li::marker {
    content: none;
  }

.main-content {
   
    background-color:#1A1B21;
    color: #FFFFFF;
    width: 320px;
    height: 350px;
    text-align: center;
    flex-shrink: 0;
  
    margin: 0; 
    padding: 10px 

   
}

.main-content > h1,h2 {
    margin: 0;
}


.name {
    font-size: 25px;
    font-weight: 700;
    flex-shrink: 0;

  }
  .designation {
    font-size: 13px;
    font-weight: 400;
    color: #F3BF99;
    
  }

  .website {
    font-weight: 400;
    font-size: 10px;
    flex-shrink: 0;
  }
  .button-div{
    display: flex;
    justify-content: space-evenly;
  }

  .button {
    padding: 9px, 13px, 9px, 11px;
    width: 115px;
    height: 34px;
    border-radius: 6px;
    border: none;
    margin-left: 10px;
  }

  #linkedin {
    background-color: #5093E2;
  }

  .content{
    font-size: 10px;
    font-weight: 400;
    text-align: start;
  }
  
  .title {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
   
  }
 
  .self-intro {
    width: 250px;
    height: 200px;
  
    margin-top: 20px;
    padding-left: 15px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    background-color: #1A1B21;

    width: 320px;
    height: 64px;
    margin: 0;

    margin-right: auto;
    margin-left: auto;

}




