body {
    margin: 0;
    width: 471px;
    box-sizing: border-box;
    justify-content: center;
    color: #000;

    font-family: 'Inter',sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}
.cards-section{
    margin-top: 40px;
   

}
.card-img {
    width:125px;
    height:168px;
}

.card--container {
    display: flex;
    align-items: flex-start;
    width: 470px;
    height: 200px;
    margin: 0;


}

.card--title--content {
    display: flex;
    align-items: center; 
    margin: 0;

}

h3{
    font-size: 11px;
    text-transform: uppercase;
    padding-right: 10px;
    letter-spacing: .17em;
    font-weight: 400;
}

.card--content--container {
    display: flex;
    flex-direction: column;
    width: 471px;
    height: 168px;
    margin: 0;
    padding: 10px; 

}

.card--content--container > h2 {
  margin: 0px;
}


.card--content--container > h5 {
    margin-top:1px;
    margin-bottom:1px ;
  }

p {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
}

.navbar {
    background-color: #F55A5A;;
    text-align: center;
    padding: 20px;
}

a {
    color:#918E9B;
    font-weight: 400;
}